.container{position: relative;}
.clear { *zoom: 1; &:after { content: ''; display: table; clear: both; }}
.site_container{
  width: 100%;
  word-break: break-all;
}
.no_border{border:none !important; }
img.fullwd{ width: 100%;}
.row {
    .span2:nth-child(6n){
        margin-right: 0;
    }
    .span3:nth-child(4n){
        margin-right: 0;
    }
    .span4:nth-child(3n){
        margin-right: 0;
    }
    .span6:nth-child(2n){
        margin-right: 0;
    }
}
.main-content{
    float:left;width: 640px;
}
.right-side{
    float:right;width:340px;
}
.select-menu{
    margin-bottom:22px;
}
header{
    .layout-logo{
        width: 100px;height: 30px;background: #5b6270;border-radius: 3px;float: left;position: relative;top: 10px;left: 0;
    }
    .layout-nav{
        width: 420px;margin: 0 auto;
    }
    .ivu-dropdown{
        position: absolute;top:10px;right:0;
    }
    .layout-right{
        margin-right: 56px;
    }
    .ivu-menu-horizontal{
        height:56px; line-height:56px;
        .ivu-menu-item{
            font-size:18px;    padding: 0 40px;
        }
    }
    a{margin-left: 20px}
}
.top-wrapper{
    width: 100%;
    height: 190px;
    padding: 20px 0 22px 0;
    margin-bottom:20px;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 #b0b0b0;
    box-sizing:border-box;
    .container{
        width: 720px;margin: 0 auto;height: 100%;
    }
}
.list-theme{
    padding: 30px;
    .list-item:first-child{
        padding-top:0;
    }
}
.list-item{
    overflow: hidden;
    @include display-flex();
    padding: 19px 0;
    position: relative;
    border-bottom:1px solid #d8d8d8;
    .list-img {
        width: 100px;
        border-radius: 16px;
        /* 展示用 */
        width: 100px;
        height: 100px;
        background: #d8d8d8;
    }
    .list-mes {
        @include flex-1();
        padding-left: 30px;
    }
}
.list-img img {
    width: 100%;
    margin-top: -50%;
    background-color: #FFF;
    border: none;
}
.aside-card{
  height: 280px;
  text-align:center;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #b0b0b0;
  margin-top:20px;
  .user-head{
      width: 80px;
      height: 80px;
      border-radius: 40px;
  }
  .aside-head{
    padding: 22px 0;
    height: 165px;
    /* border-bottom:1px solid #e5e5e5; */
  }
  .aside-border-head{
    padding: 22px 0;
    margin: 0 22px;
    height: 165px;
    border-bottom:1px dashed #e5e5e5;
  }
  .aside-border-body{
    padding:20px 0 28px 0;
    text-align: center;
    .title{
      font-size:18px;
      font-weight:bold;
    }
    p{
      margin-bottom: 10px;
    }
  }
  .aside-body{
    padding: 0 15px;
    ul{
      padding: 22px 0;
      li{
        height: 60px;
        display: inline-block;
        border-right:1px solid #000;
            width: 48%;
        p{
          margin-bottom: 10px;
        }
        &:last-child{
          border:none;
        }
      }
    }
  }
}


.player_container{
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.palyer_section{
  /*width: 100%;*/
  height: 100%;
  /*background-color: #987909;*/
  margin-left: 320px;
}
.palyer_side{
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 100%;
   border-right:1px solid #e5e5e5;
   .title{
  padding-left: 30px;
  height: 50px;
  line-height: 50px;
  margin:0;
}
}
.palyer_header{
  padding: 18px 30px;
  font-size: 18px;
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}
