/* Table */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;

    > {
        thead > tr > th,
        tbody > tr > th,
        tfoot > tr > th,
        thead > tr > td,
        tbody > tr > td,
        tfoot > tr > td {
            padding: $tb-cell-padding;
            line-height: 1.5;
            vertical-align: top;
            border-top: 1px solid $tb-border-color;
        }
        thead > tr > th {
            vertical-align: bottom;
            border-bottom: 2px solid $tb-border-color;
        }
        caption + thead > tr:first-child > th,
        colgroup + thead > tr:first-child > th,
        thead:first-child > tr:first-child > th,
        caption + thead > tr:first-child > td,
        colgroup + thead > tr:first-child > td,
        thead:first-child > tr:first-child > td {
            border-top: 0;
        }
        tbody + tbody {
            border-top: 2px solid $tb-border-color;
        }
    }
    .table {
        background-color: $tb-background;
    }
}

.table-bordered {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $tb-border-color;
    > {
        thead > tr > th,
        tbody > tr > th,
        tfoot > tr > th,
        thead > tr > td,
        tbody > tr > td,
        tfoot > tr > td {
            padding: 13px 10px;
            height: 50px;
            line-height:1.4;
            border: 1px solid $tb-border-color;
        }
        tbody tr td{
            &.border-top{
                border:none;
                border-right: 1px solid $tb-border-color;
            }
            &.border-dashed{
                border:none;
                border-top:1px dashed $tb-border-color;
                border-right: 1px solid $tb-border-color;
            }
            &:last-child{
                padding: 13px 20px; 
            }
        }
        thead > tr > {
            th,
            td {
                border-bottom-width: 2px;
            }
        }
    }

    &.col2{
        tr:last-child{
            td{
                vertical-align: top;
                padding: 13px 70px 26px 70px;
                .box{
                    ul{
                        list-style-type: disc;
                        display: inline-block;
                        margin-bottom: 90px;
                        font-size: 16px;
                        line-height: 1.63;
                        text-align: left;
                        color: #191919;
                    }
                }
            }
        }
    }
}

.table-striped > tbody > tr:nth-child(odd) > {
    td,
    th {
        background-color: $tb-striped-background;
    }
}

.table-hover > tbody > tr:hover {
    td, 
    th {
        background-color: $tb-hover-background;
    }
}
