@charset "UTF-8";
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animate-delay-0-2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.animate-delay-0-4 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.animate-delay-0-6 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.animate-delay-0-8 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.animate-delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animate-delay-1-2 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.animate-delay-1-4 {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

.animate-delay-1-6 {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s; }

.animate-delay-1-8 {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s; }

.animate-delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animate-delay-2-2 {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s; }

.animate-delay-2-4 {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s; }

.animate-delay-2-6 {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s; }

.animate-delay-2-8 {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s; }

.animate-delay-3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.fixedcenter {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%; }

.clear {
  clear: both;
  display: block;
  overflow: hidden; }

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-remark {
  color: #666;
  font-size: 0.9em; }

.text-color {
  color: #482929; }

.text-primary {
  color: #428bca; }

.text-secondary {
  color: #42c9c4; }

.text-success {
  color: #56cc3a; }

.text-emphasis {
  color: #f84e4a; }

.text-warning {
  color: #fbb040; }

.text-error {
  color: #f84e4a; }

.star {
  color: #f84e4a; }

.text-purple {
  color: #9893C2; }

.img-container img {
  max-width: 100%; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  transition: all, 1s; }
  .btn:focus, .btn:active, .btn.active:focus {
    outline: none; }
  .btn:hover {
    color: #333;
    background: white;
    text-decoration: none; }
  .btn:focus, .btn:active, .btn.active {
    color: #333;
    background: #f2f2f2;
    outline: 0; }
  .btn.disabled, .btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45; }
  .btn.width120 {
    width: 120px; }
  .btn.width150 {
    width: 150px; }
  .btn.br4 {
    border-radius: 4px !important; }
  .btn.fullwidth {
    width: 100%;
    line-height: 40px;
    padding: 0;
    margin-bottom: 10px; }
  .btn.btn-disabled {
    background-color: #b0b0b0; }

.btn-circle {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  transition: all, 1s; }
  .btn-circle:focus, .btn-circle:active, .btn-circle.active:focus {
    outline: none; }
  .btn-circle:hover {
    color: #333;
    background: white;
    text-decoration: none; }
  .btn-circle:focus, .btn-circle:active, .btn-circle.active {
    color: #333;
    background: #f2f2f2;
    outline: 0; }
  .btn-circle.disabled, .btn-circle[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45; }
  .btn-circle.brown-shadow {
    border: 1px solid #482929 !important;
    box-shadow: 0px 2px 0px #482929 !important; }

.btn-bigger {
  display: inline-block;
  padding: 20px 140px;
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .btn-bigger:focus, .btn-bigger:active, .btn-bigger.active:focus {
    outline: none; }
  .btn-bigger:hover {
    color: #333;
    background: white;
    text-decoration: none; }
  .btn-bigger:focus, .btn-bigger:active, .btn-bigger.active {
    color: #333;
    background: #f2f2f2;
    outline: 0; }
  .btn-bigger.disabled, .btn-bigger[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45; }

.btn-circle-sm {
  display: inline-block;
  padding: 3px 20px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px; }
  .btn-circle-sm:focus, .btn-circle-sm:active, .btn-circle-sm.active:focus {
    outline: none; }
  .btn-circle-sm:hover {
    color: #333;
    background: white;
    text-decoration: none; }
  .btn-circle-sm:focus, .btn-circle-sm:active, .btn-circle-sm.active {
    color: #333;
    background: #f2f2f2;
    outline: 0; }
  .btn-circle-sm.disabled, .btn-circle-sm[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45; }

.btn-border {
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #3675b9;
  border: 1px solid #3675b9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }
  .btn-border:focus, .btn-border:active, .btn-border.active:focus {
    outline: none; }
  .btn-border:hover {
    color: #fff;
    background: #3069a5; }

.btn-mini {
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  font-weight: normal;
  font-size: 13px !important;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  .btn-mini:focus, .btn-mini:active, .btn-mini.active:focus {
    outline: none; }
  .btn-mini:hover {
    color: #333;
    background: white;
    text-decoration: none; }
  .btn-mini:focus, .btn-mini:active, .btn-mini.active {
    color: #333;
    background: #f2f2f2;
    outline: 0; }
  .btn-mini.disabled, .btn-mini[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=45);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
    -webkit-opacity: 0.45;
    -moz-opacity: 0.45;
    -o-opacity: 0.45;
    opacity: 0.45; }

.btn-primary {
  color: #fff;
  background: #482929;
  border: 1px solid #382020; }
  .btn-primary:hover {
    color: #fff;
    background: #683c3c; }
  .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background: #382020; }

.btn-secondary {
  color: #482929;
  background: #ffd733;
  border: #ffd733 !important; }
  .btn-secondary:hover {
    color: #482929;
    background: #f5a623 !important; }
  .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    color: #482929;
    background: #f5a623 !important; }

.btn-purple {
  color: #fff;
  background: #9893C2;
  border: #9893C2; }
  .btn-purple:hover {
    color: #fff;
    background: #9893C2; }
  .btn-purple:focus, .btn-purple:active, .btn-purple.active {
    color: #fff;
    background: #9893C2; }

.btn-third {
  color: #482929;
  background: #fceb9e;
  border: #fceb9e; }
  .btn-third:hover {
    color: #482929;
    background: #fdf0b7; }
  .btn-third:focus, .btn-third:active, .btn-third.active {
    color: #482929;
    background: #fce994; }

.btn-darkblue {
  color: #fff !important;
  background: #4c6ba9;
  border: #4c6ba9; }
  .btn-darkblue:hover {
    color: #fff !important;
    background: #5a78b5; }
  .btn-darkblue:focus, .btn-darkblue:active, .btn-darkblue.active {
    color: #fff !important;
    background: #4967a2; }

.btn-grass {
  color: #fff;
  background: #5e8333;
  border: #5e8333; }
  .btn-grass:hover {
    color: #fff !important;
    background: #6b953a; }
  .btn-grass:focus, .btn-grass:active, .btn-grass.active {
    color: #fff !important;
    background: #597c30; }

.btn-secyellow {
  color: #482929;
  background: #f6ebd6; }
  .btn-secyellow:hover {
    color: #8a7a7a !important;
    background: #f6ebd6; }
  .btn-secyellow:focus, .btn-secyellow:active, .btn-secyellow.active {
    color: #8a7a7a !important;
    background: #f6ebd6; }

.btn-green {
  color: #fff !important;
  background: #82b547;
  border: #82b547; }
  .btn-green:hover {
    color: #fff !important;
    background: #709445 !important; }
  .btn-green:focus, .btn-green:active, .btn-green.active {
    color: #fff !important;
    background: #709445 !important; }

.btn-whitebrown {
  color: #fff !important;
  background: #90531d !important;
  border: #90531d !important; }
  .btn-whitebrown:hover {
    color: #fff !important;
    background: #90531d !important; }
  .btn-whitebrown:focus, .btn-whitebrown:active, .btn-whitebrown.active {
    color: #fff !important;
    background: #90531d !important; }

.btn-skyblue {
  color: #fff !important;
  background: #5b93e7 !important;
  border: #5b93e7 !important; }
  .btn-skyblue:hover {
    color: #fff !important;
    background: #50759f !important; }
  .btn-skyblue:focus, .btn-skyblue:active, .btn-skyblue.active {
    color: #fff !important;
    background: #50759f !important; }

.btn-disabled {
  cursor: default !important;
  color: #fff !important;
  background: #ccc !important;
  border: 1px solid #bfbfbf !important; }
  .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active, .btn-disabled.active {
    color: #fff !important;
    background: #ccc !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }

.btn-noborder {
  cursor: default !important;
  color: #482929;
  background: none !important;
  border: none !important; }
  .btn-noborder:hover, .btn-noborder:focus, .btn-noborder:active, .btn-noborder.active {
    text-decoration: none  !important; }

.btn-sm {
  font-size: 12px;
  padding: 3px 10px; }

.btn-sm-3-15 {
  font-size: 14px;
  padding: 3px 15px; }

.btn-lg {
  font-size: 16px;
  padding: 10px 20px; }

.btn-blue {
  color: #fff !important;
  background: #4a90e2;
  border: #4a90e2; }
  .btn-blue:hover {
    color: #fff !important;
    background: #609de6; }
  .btn-blue:focus, .btn-blue:active, .btn-blue.active {
    color: #fff !important;
    background: #418be1; }

.btn-white {
  color: #482929;
  background: #fff;
  border: #fff; }
  .btn-white:hover {
    background: white; }
  .btn-white:focus, .btn-white:active, .btn-white.active {
    background: #fafafa; }

.btn-darkbrown {
  color: #fff !important;
  background: #482929;
  border: #482929; }
  .btn-darkbrown:hover {
    background: #583232; }
  .btn-darkbrown:focus, .btn-darkbrown:active, .btn-darkbrown.active {
    background: #422525; }

.btn-orange {
  color: #fff !important;
  background: #f5a623;
  border: #f5a623; }
  .btn-orange:hover {
    color: #fff !important;
    background: #f6b03b; }
  .btn-orange:focus, .btn-orange:active, .btn-orange.active {
    color: #fff !important;
    background: #f5a219; }

.btn-taro {
  color: #fff !important;
  background: #6769C9;
  border: #6769C9; }
  .btn-taro:hover {
    background: #7a7cd0; }
  .btn-taro:focus, .btn-taro:active, .btn-taro.active {
    background: #5f62c6; }

.btn-whitegreen {
  color: #482929 !important;
  background: #cadfb1;
  border: #cadfb1; }
  .btn-whitegreen:hover {
    background: #d6e6c3; }
  .btn-whitegreen:focus, .btn-whitegreen:active, .btn-whitegreen.active {
    background: #c5dcaa; }

.btn-wgreen {
  color: #fff !important;
  background: #5cb947;
  border: #5cb947; }
  .btn-wgreen:hover {
    background: #6cc059; }
  .btn-wgreen:focus, .btn-wgreen:active, .btn-wgreen.active {
    background: #58b244; }

.btn-darkengrey {
  color: #fff;
  background: #747474;
  border: #747474; }
  .btn-darkengrey:hover {
    color: #fff;
    background: #8e8e8e; }
  .btn-darkengrey:focus, .btn-darkengrey:active, .btn-darkengrey.active {
    color: #fff;
    background: #676767; }

.wechat-btn {
  position: relative;
  color: #fff !important;
  background: #5CB947;
  border: #5CB947; }
  .wechat-btn:hover {
    background: #6cc059; }
  .wechat-btn:focus, .wechat-btn:active, .wechat-btn.active {
    background: #58b244; }
  .wechat-btn i.icon-wechat {
    position: absolute;
    top: 15px;
    left: 100px;
    width: 23px;
    height: 22px;
    background: url(../../images/wechat.png);
    background-size: 23px 22px;
    display: block; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .btn-group > .btn {
    position: relative;
    float: left; }
    .btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
      z-index: 2; }
  .btn-group .btn + .btn, .btn-group .btn + .btn-group {
    margin-left: -1px; }
  .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px; }
  .btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius: 0; }
  .btn-group > .btn:first-child {
    margin-left: 0; }
    .btn-group > .btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .btn-group > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .btn-group > .btn-group {
    float: left; }
    .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
      border-radius: 0; }
    .btn-group > .btn-group:first-child > .btn:last-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .btn-group > .btn-group:last-child > .btn:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .btn-group .btn-circle {
    margin-right: 14px; }
    .btn-group .btn-circle:last-child {
      margin-right: 0; }

.ic-btn-credit {
  position: absolute;
  bottom: 45px;
  right: 0;
  width: 275px;
  height: 68px;
  background: #ffd733;
  cursor: pointer; }
  .ic-btn-credit:hover {
    color: #482929;
    background-color: #ffdf5c; }

.ic-btn-sign {
  font-size: 17px;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 42px;
  width: 188px;
  height: 42px;
  background: #ffd733;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 0 auto 20px auto; }
  .ic-btn-sign:hover {
    color: #482929;
    background-color: #ffdf5c; }
  .ic-btn-sign:disabled {
    color: #4A4A4A;
    background: #E5E5E5; }

.ic-btn-brown {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #482929;
  height: 40px;
  width: 150px;
  line-height: 40px;
  border: none;
  border-radius: 2px; }
  .ic-btn-brown:first-child {
    margin-right: 20px; }
  .ic-btn-brown:enabled:active {
    color: #fff;
    background-color: #482929; }
  .ic-btn-brown:hover, .ic-btn-brown:active {
    color: #fff;
    background-color: #623838; }
  .ic-btn-brown.fullwidth {
    width: 100%;
    line-height: 40px;
    padding: 0;
    margin-bottom: 10px; }

button.btn-sign {
  font-size: 16px !important;
  background: #FFD733;
  border-radius: 100px;
  right: 45px !important;
  width: 190px !important;
  height: 46px !important;
  top: 0px !important;
  border: none !important;
  text-align: left !important; }
  button.btn-sign i.business_coins {
    position: absolute;
    left: 18px;
    top: 14px;
    font-size: 19px; }
  button.btn-sign span {
    padding-left: 42px; }
  button.btn-sign:disabled {
    opacity: 1;
    background: #E5E5E5  !important; }

.sign-dot {
  position: absolute;
  top: 8px !important;
  right: 32px !important;
  width: 45px;
  height: 4px; }
  .sign-dot em {
    display: inline-block;
    background: #fff;
    height: 4px;
    width: 4px;
    margin-right: 3px;
    border-radius: 50%; }
    .sign-dot em.full {
      background: #482929; }

.label-solid {
  padding: 4px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: #482929; }
  .label-solid.border-rclr {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.bg-pri {
  background: #482929; }

.bg-sec {
  background: #ffd733; }

.noborder {
  border: none !important; }

aside {
  width: 340px; }

.container860 {
  width: 860px;
  margin: 0 auto; }

.container1000 {
  width: 1000px;
  margin: 0 auto; }

.container1280 {
  width: 1280px;
  margin: 0 auto; }

.num {
  position: absolute;
  right: 20px;
  bottom: 14px;
  font-size: 14px;
  text-align: right;
  color: #747474; }

.pri-title {
  font-size: 24px;
  font-weight: 500;
  text-align: justify;
  color: #191919; }

.page-title {
  font-size: 20px;
  text-align: left;
  color: #191919;
  margin: 22px 0 20px 0; }

.dot-line-title {
  position: relative;
  font-size: 18px;
  text-align: left;
  color: #191919; }
  .dot-line-title:after {
    content: '';
    position: absolute;
    transform: translate(0, 50%);
    top: 50%;
    right: 0;
    width: 84%;
    height: 1px;
    border-bottom: .5px dashed #333; }

.card-item {
  width: 300px;
  height: 230px;
  border-radius: 12px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  -webkit-transition: all, 0.4s;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  transition: all, 0.4s; }
  .card-item:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: #eee; }
  .card-item .card-header {
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0;
    background-color: #d8d8d8; }
  .card-item .card-body {
    position: relative;
    height: 80px;
    padding: 14px 20px; }
    .card-item .card-body .title {
      font-size: 20px;
      line-height: 1;
      text-align: left;
      color: #191919; }

.tabs-menu.ivu-menu-horizontal.ivu-menu-light {
  width: 490px;
  margin: 0 auto; }
  .tabs-menu.ivu-menu-horizontal.ivu-menu-light:after {
    height: 0 !important; }

.tabs-menu .ivu-menu-item {
  width: 100px;
  margin-right: 95px; }

.tabs-menu .layout-assistant .ivu-menu-item:last-child {
  margin-right: 0; }

.v-tab-pane {
  display: none;
  -webkit-transition: all, 0.4s;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  transition: all, 0.4s; }
  .v-tab-pane.active {
    display: block; }

/*.tabs-menu.ivu-tabs .ivu-tabs-nav-container{
	height:60px;
	line-height: 44px;
	width: 490px;
	margin: 0 auto;
}
.tabs-menu .ivu-tabs-tab {
	text-align: center;
	width: 100px;
	margin-right: 95px;
}
.tabs-menu .ivu-tabs-tab:last-child{
	margin-right:0;
}
.tabs-menu.ivu-menu-horizontal.ivu-menu-light:after{
	height: 0 !important;
}*/
.list-item {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 0;
  position: relative;
  border-bottom: 1px solid #d8d8d8; }
  .list-item .list-img {
    width: 100px;
    padding: 1rem 0;
    /* 展示用 */
    width: 100px;
    padding: 1rem 0;
    height: 100px;
    background: #d8d8d8; }
  .list-item .list-mes {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 7px; }

.list-img img {
  width: 100%;
  margin-top: -50%;
  background-color: #FFF;
  border: none; }

.v-flex-row {
  flex-flow: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.v-flex-col {
  flex-flow: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.v-flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.v-flex-between {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #999; }

.nav-horizontal ul li {
  font-size: 16px;
  display: inline-block;
  margin-right: 36px;
  cursor: pointer; }

.top-wrapper {
  width: 100%;
  height: 190px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #b0b0b0; }
  .top-wrapper .container {
    width: 720px;
    margin: 0 auto;
    height: 100%; }

.card-box {
  width: 100%;
  padding: 40px 70px;
  margin-top: 20px;
  height: auto;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #b0b0b0;
  border: solid 1px #e5e5e5;
  -webkit-transition: all, 0.4s;
  -moz-transition: all, 0.4s;
  -o-transition: all, 0.4s;
  transition: all, 0.4s; }
  .card-box.narrow {
    padding: 20px 30px; }
  .card-box:hover {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    border-color: #eee; }
  .card-box .dot-line-title {
    margin: 30px 0 12px 0; }
    .card-box .dot-line-title:first-child {
      margin-top: 0; }
  .card-box p {
    font-size: 15px;
    line-height: 1.73;
    text-align: left;
    color: #4a4a4a; }

ul.ul-dot {
  list-style-type: disc;
  padding-left: 40px;
  font-size: 15px;
  line-height: 1.73; }

.aside-card {
  height: 300px;
  text-align: center;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 #b0b0b0;
  margin-top: 20px; }
  .aside-card .aside-head {
    padding: 22px 0;
    height: 185px;
    border-bottom: 1px solid #e5e5e5; }
  .aside-card .aside-body {
    padding: 0 15px; }
    .aside-card .aside-body ul {
      padding: 22px 0; }
      .aside-card .aside-body ul li {
        height: 60px;
        display: inline-block;
        border-right: 1px solid #000;
        width: 48%; }
        .aside-card .aside-body ul li p {
          margin-bottom: 10px; }
        .aside-card .aside-body ul li:last-child {
          border: none; }

.timeline {
  /*display: flex;*/
  position: relative;
  border-top: 1px solid #000;
  margin: 28px 0 44px 0; }
  .timeline .timeline-item {
    width: 25%;
    display: inline-block;
    /*flex-grow: 1;*/ }
    .timeline .timeline-item i {
      position: absolute;
      top: -7px;
      background-color: #fff;
      z-index: 1; }
    .timeline .timeline-item span {
      display: inline-block;
      margin-top: 16px; }

.time-horizontal {
  position: relative;
  border-left: 1px solid #707070;
  height: 500px; }
  .time-horizontal .timeline-item {
    height: 25%;
    /* display: inline-block; */
    /*flex-grow: 1;*/ }
    .time-horizontal .timeline-item i {
      position: absolute;
      left: -6px;
      background-color: #fff;
      z-index: 1; }
    .time-horizontal .timeline-item span {
      display: inline-block;
      margin-top: 16px; }

.stutas-list li {
  display: inline-block;
  font-size: 18px;
  padding: 0 26px;
  border-left: 1px solid #d8d8d8; }
  .stutas-list li:first-child {
    padding: 0 26px 0 0;
    border-left: none; }

/*# sourceMappingURL=app.css.map */
